<configuration>
    <appender name="rollingLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/app.log</file>
        <encoder>
            <pattern>%date [%thread] %level %logger{15} - %message %n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="rollingLog"/>
    </root>
</configuration>
